{% extends "_layout.html" %}

    {% block title %}
      Canton Ohio Web Developer and Photographer Jarred Wagner
    {% endblock %}

    {% block header %}

      <header class="container-fluid home">

        <div class="container">

          <h2 class="text-center home-text">
            Hi, I'm Jarred.
          </h2>

          <h3 class="text-center home-text">
            I am a
          </h3>

          <h2 class="text-center home-text">
            veteran entrepreneur &amp; <br>
            master photographer.
          </h2>

          <h3 class="text-center home-text" >
            After 10 years in the photo business, <br>
             I am moving on to my next challenge - <br>
            {# <strong>web development</strong>. #}
          </h3>

          <h2 class="text-center home-text">
            web development.
          </h2>

        </div>

      </header>

    {% endblock %}

    {% block scripts %}
    {% endblock %}
